* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f6f6f6ff;
  background-color: #1d1d2bff;
}

.container {
  max-width: 60rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

/* LOGO HEADER */

.navbar-row {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f6f6f6ff;
  background-color: #070013ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}

.flex-1-col {
  position: relative;
}

.gametime-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gametime-logo img {
  width: 40%;
  color: white;
}
/* dodani svi novi containeri i klase */
.account-container, .edit-container, .amateur-editor-container, .about-us-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.account, .edit, .amateur-editor {
  font-size: 2rem;
  color: #f6f6f6ff;
  font-weight: 500;
  padding: 1rem 1rem 1.5rem 0.2rem;
  border-bottom: #070013ff 1px solid;
}
/* about-us nesmi imati donji border */
.about-us {
  font-size: 2rem;
  color: #f6f6f6ff;
  font-weight: 500;
  padding: 1rem 1rem 1.5rem 0.2rem;
}

.account a, .edit a, .amateur-editor a, .about-us a{
  display: block;
  text-decoration: none;
  color: #f6f6f6ff;
}

/* FOOTER SECTION, Fix na vrhu klase wrapper */
.footer {
  background-color: #070013ff;
  padding: 2rem 2rem 2rem 2rem;
}

.options ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.options ul li a:link,
.options ul li a:visited {
  text-decoration: none;
  color: #f6f6f6ff;
  font-size: 1.6rem;
  font-weight: 500;
}
