/*

--- 01 TYOIGRAPHY SYSTEM

- font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line height:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 



--- 05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
Default: 
Medium: 
--- 07 WHITESPACE

- spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128    
*/

/* NARCO ASSESTS */

/* font za svaki teskt: Roboto Medium
font u logou: Passion One

Boje:
zelena: #87dba6ff
tamno plava na logou: #0e0027ff
bila za tekst: #f6f6f6ff
background svitlija: #1d1d2bff
background tamnija: #070013ff
ljubičasta za ne bijeli tekst: #53537aff
Border color: #4b4b4b

//boje su napisane u RGBA, ako van ne radi samo maknite ffsa kraja */

/* MOBILE VERSION DEFAULT */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f6f6f6ff;
  background-color: #1d1d2bff;
}

/* Moguce da ovo vise ne treba */
.container {
  max-width: 60rem;
  /* margin: 0 auto; */
}

/* POPRAVLJENO DA FOOTER BUDE DOLJE */
.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.flex-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

/* ============================KOD======================================= */

/* HEADER SECTION */

.navbar-row {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f6f6f6ff;
  background-color: #070013ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.search-btn {
  padding: 1rem 0 1rem 1rem;
}

.search-btn img {
  display: block;
  width: 3rem;
  height: 3rem;
}

.amateur-section {
  font-size: 1.7rem;
  color: #f6f6f6ff;
  background-color: #1d1d2bff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  height: 9rem;
}

.league-text {
  align-self: flex-end;
}

.league-text h2 {
  font-size: 1.7rem;
  padding: 1rem 1rem 0 0;
}

.amateur-btn {
  align-self: flex-start;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.amateur-btn-text {
  padding: 1rem;
}

.switch-icon img {
  display: block;
  width: 6rem;
  height: 3rem;
}

/* MAIN SECTION */
main {
  background-color: #1d1d2bff;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.my-leagues {
  font-size: 1.5rem;
  background-color: #070013ff;
  border-radius: 1.5rem;
  padding: 1.1rem 1rem 1.1rem 1rem;
  margin-bottom: 2rem;
}

.game-time {
  font-size: 1.5rem;
  font-weight: 500;
}

.my-league {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #070013ff;

  /* border-radius: 1.3rem; */
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.my-league-border {
  border-bottom: 1px solid #4b4b4b;
  margin-bottom: 0.5rem;
}

.my-leagues-col1,
.my-leagues-col2 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.my-league-icon img,
.team1-icon img,
.team2-icon img {
  display: inline-block;
  width: 4.2rem;
  height: 4.2rem;
}

/* SECTION ALL LEAGUES */
/* .all-leagues {
  Dodano zbog footera (FIXANO SA flex-content divom)
  margin-bottom: 16.5rem;
} */

.all-leagues {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.all-leagues h2 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.country-league-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  background-color: #070013ff;
  border-radius: 1.3rem;

  padding: 1.5rem 1rem 1.5rem 1rem;
  /* margin-bottom: 1rem;  maka zbog spajanja dropdowna*/
}

.increased-height {
  padding: 0.25rem;
}

.country-league-name h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.dropdown-arrow {
  display: block;
  color: #f6f6f6ff;
  stroke: #f6f6f6ff;
  width: 2.3rem;
  height: 2.3rem;
}

.country-league-name button {
  background-color: transparent;
  border: none;
}

.country-league-name .flex-1-col {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.country-img img {
  width: 6rem;
  height: 2.3rem;
}

/* FOOTER SECTION, Fix na vrhu klase wrapper i flex-content*/
.footer {
  background-color: #070013ff;
  padding: 2rem 2rem 2rem 2rem;
}

.options ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.options ul li a:link,
.options ul li a:visited {
  text-decoration: none;
  color: #f6f6f6ff;
  font-size: 1.6rem;
  font-weight: 500;
}

/* DROPDOWN MENU */

.country-league-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 1rem; */

  font-size: 1.8rem;
  background-color: #070013ff;
  border-radius: 1.3rem;
  /* padding: 1.5rem 1rem 1.5rem 1rem; */
  margin-bottom: 1rem;
  position: relative;
}

/* h4 isto ka .country-name */
h4,
.nested-dropdown-arrow {
  font-size: 1.6rem;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.country-name::before,
.nested-dropdown-arrow::before {
  font-family: 'Ionicons';
  content: '\f3d0'; /* Down arrow icon */
  margin-left: 0.5rem;
  margin-right: 1rem;
  pointer-events: all;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f6f6f6ff;
  stroke: #f6f6f6ff;
}

.nested-dropdown-arrow::before {
  margin-left: 2rem;
}

.country-name.up::before,
.nested-dropdown-arrow.up::before {
  content: '\f3d8'; /* Up arrow icon */
}

.collapse-ul {
  display: none;

  background-color: #070013ff;
  /* border-radius: 1.3rem; */

  padding: 0.5rem 1rem 1.5rem 1.8rem;
  margin-bottom: 1rem;
}

.collapse-ul li {
  font-size: 1.8rem;
  list-style: none;
  text-decoration: none;
}

/* NOVO  DROPDOWN NESTED */
.has-nested-dropdown {
  pointer-events: none;
}

.has-nested-dropdown {
  display: block;
}

.nested-dropdown {
  display: none;
  position: absolute; /* Add absolute positioning */
  /* top: 100%; Position below the parent ISKLJUCIA ZBOG STYLEA */
  left: 0; /* Align to the left */
  min-width: 100%; /* Set width to 100% */
  margin-top: 0;
  /* DODA */

  font-size: 1.8rem;
  background-color: #070013ff;
  /* border-radius: 1.3rem; */
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-bottom: 1rem;
}

.nested-dropdown li {
  padding: 1rem 1rem 0 1rem;
  margin-left: 2rem;
  border-top: 1px solid #4b4b4b;
}

.league-icon {
  width: 3rem;
  height: 3.3rem;
}

.nested-dropdown-arrow {
  border-top: 1px solid #4b4b4b;

  padding-top: 1rem;
}


/*calendar*/


.date {
  display: flex; 
  align-items: center;
}

#dateInput:focus {
  outline: none;
  border-color: #070013ff;
}

/* Style the date input */
  #dateInput {
  color-scheme: dark;
  padding: 10px; 
  font-size: 1em;
  border: 1px solid #070013ff;
  background-color: #070013ff;
  color: #f6f6f6ff;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

/* Hide text input */
#dateInput::-webkit-datetime-edit {
  display: none; 
}

/* Show calendar icon */
#dateInput::-webkit-calendar-picker-indicator {
  display: block;
}

.follow-item{
  display:flex;
  gap: 1rem;
  align-items: center;
}

.follow-item img{
  display: inline-block;
  width: 4.2rem;
  height: 4.2rem;
}

.live{
  color:red;
}

.score{
  font-size: 2.5rem;
}